.title {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.profile-avatar {
  border-radius: 10px;
}

.card {
  background-color: rgb(27,40,56);
}

.date {
  font-size: 1.3rem;
}

.user-btn {
  color: white;
  background-color: #AC2E16;
  box-shadow: 0px 0px 4px 1px #e23e1d;
}

.user-btn:hover {
  background-color: #e23e1d;
}

.guide-header {
  background-color: rgb(27,40,56);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.guide-body {
  background-color: #3a5678;
  color: white;
}

.guide-footer {
  background-color: rgb(27,40,56);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.guide-container {
  max-height: 45vh;
}

.item-container {
  max-height: 11.42vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.guide-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.guide-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.page-title span{
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: bold;
  background-image: linear-gradient(
 to right,
 #462523 0,
 #cb9b51 22%, 
 #f6e27a 45%,
 #f6f2c0 50%,
 #f6e27a 55%,
 #cb9b51 78%,
 #462523 100%
 );
  color:transparent;
  -webkit-background-clip:text;
}

body {
  background: url("/images/backgrounds/ogre_bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}